# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/wxGame/bin
/wxGame/x64
/wxGame/.vs
/wxAsset
wxGame/OpenGex-Import/OpenDDL/Debug
wxGame/OpenGex-Import/OpenGEX/Debug